
footer a {
  border-bottom: 1px solid $medium-gray;
  color: $medium-gray;
}

footer {
  padding: 1.8em 0 3em;

  .footer-blog a {
    color: $base-font-color;
  }

  .footer-links {
    text-align: center;
    margin-bottom: -1em;

    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      list-style-type: none;
      padding-left: 0;

      li {
        padding: 4px;

        a {
          padding: 4px;
          border-bottom: none;
        }
      }
    }
  }

  .copyright {
    text-align: center;
    color: $medium-gray;
  }
}
