nav {
  text-align: center;
  margin-top: 2em;

  .blog-title {
    font-size: 3.5em;
    text-transform: capitalize;
    margin: 0;
    font-weight: bold;

    a {
      padding: 0 10px;
    }
  }

  p.blog-description {
    font-size: 0.9em;
    margin: -0.2em auto 0;
    color: $medium-gray;
  }

  .blog-lang {
    font-size: 1em;
    text-transform: uppercase;
    color: $medium-gray;
  }

  @media (min-width: $base-breakpoint) {
    .blog-title {
      font-size: 4.5em;
    }

    p.blog-description {
      margin: 0 auto;
      font-size: 1em;
    }

  }
}
