<footer>
  <div class="footer-blog">
    <p><%= t(:footer_text) %></p>
  </div>

  <div class="footer-links">
    <ul>
      <li><%= link_to t(:articles), "/articles.html" %></li>
      <li><a href="http://ikhsan.me">Lifeage</a></li>
      <li><a href="http://twitter.com/ixnixnixn">Twitter</a></li>
      <li><a href="http://github.com/ikhsan">Github</a></li>
    </ul>
  </div>

  <div class="copyright">
    <p>&copy; <%= link_to "Codeage", "https://github.com/ikhsan/ikhsan.github.io" %> 2009–<%= Date.today.year %></p>
  </div>
</footer>
