<nav>
  <h1 class="blog-title"><%= link_to "Codeage", "/" %></h1>
  <p class="blog-description">
    Pardon my ramblings about code and such
  </p>
  <div class="blog-lang">
    <% if current_lang == :en %>
    <strong>English</strong> / <a href="<%= localise_current_link(:id) %>">Bahasa Indonesia</a>
    <% elsif current_lang == :id %>
    <a href="<%= localise_current_link(:en) %>">English</a> / <strong>Bahasa Indonesia</strong>
    <% end %>
  </div>
</nav>
