<% articles = blog.tags[tagname].select { |blog| blog.lang == lang  } %>

<h1><%= t(:articles_tagged) %> '<%= tagname %>'</h1>

<%= partial "partials/article-list", :locals => { :articles => articles } %></li>
