<div class="article-list">
  <h1><%= t(:articles_tagged) %> '<%= tagname %>'</h1>

  <%= partial "partials/article-list", :locals => {:articles => blog.tags[tagname].select { |blog| blog.lang == current_lang } } %>  
</div>
